#bag {
  width:200px;
  height: 500px;
  margin:0 auto;
  background: url(./bag.png) center no-repeat;
}

#bag.burst {
  width:200px;
  height: 500px;
  margin:0 auto;
  background: url(./bag-burst.png) center no-repeat;
}

#health {
  width :400px;
  border :2px solid;
  margin-bottom: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;

}

#health div {
  height:20px;
  background: crimson;
}

#button{
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}
