.av1{
    max-width: 400px;
    padding:10px;
    text-align: left;
    border: 1px solid #333;
    background-color: green;
}

.av2{
  max-width: 400px;
  padding:10px;
  text-align: left;
  border: 1px solid #333;
    background-color: red;
}

.empty{
  max-width: 400px;
  padding:10px;
  text-align: left;
  border: 1px solid #333;
    background-color: pink;
}
